{
  "presets": [
    [
      "@babel/preset-env", // 编译ES6
      {
        "useBuiltIns": "usage",
        "corejs": "3",
        "targets": ["> 5% in CN", "Firefox > 50", "Chrome > 60"]
      }
    ],
    [
      "@babel/preset-react", // .jsx文件转换JSX
      {
        "pragma": "h"
      }
    ]
    // [
    //   "@vue/babel-preset-jsx", // .vue文件转换JSX
    //   {
    //     "injectH": true // 自动注入h函数
    //   }
    // ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime" // 避免polyfill污染全局变量，减小打包体积
  ]
}
